{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Comentarios</h1>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Contenido</th>
          <th>Fecha de creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:2s">
        {% for comment in comment_list %}
        <tr>
          <td>
            <a href="{{ url_for('comments.get_single_comment', comment_id=comment['id']) }}">
              {{ comment["id"] }}
            </a>
          </td>
          <td>{{ comment["content"] }}</td>
          <td>{{ comment["created_at"] }}</td>
          <td>
            <a
              href="{{ url_for('comments.update_comment', comment_id=comment['id']) }}"
              class="btn btn-warning btn-sm"
            >
              Update
            </a>
            <button style="display: inline-block; margin: 0" class="btn btn-danger btn-sm" 
              hx-delete="{{ url_for('comments.delete_one_comment_htmx', comment_id=comment['id']) }}">
              Delete HTMX
            </button>
            <form
              action="{{ url_for('comments.delete_one_comment', comment_id=comment['id']) }}"
              method="post"
              style="display: inline-block; margin: 0"
              onsubmit="return confirmDelete(event, this);"
            >
              <button class="btn btn-danger btn-sm" type="submit">
                Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<button hx-get="{{ url_for('comments.get_comments_partial') }}" 
        hx-target="#datos-comments" 
        hx-swap="innerHTML">
    Cargar Comments
</button>
<div id="datos-comments"></div>
{% endblock %}
